<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your catchy tagline or blog focus here" />
    <meta name="author" content="Abhishek" />
    <meta name="keywords" content="blog - python" />
    <title>Python Blog Page </title>
  </head>
  <body><header align="center" ><h1>Blog Website</h1></header>
    <br /><br />
    <main>
        <div class="row">
        <div class="left column">
        <div class="cards">
        <h2 align="center">{{posts.title}}</h2>
        <p>{{posts.body}}</p>
        <br />
        <mark>{{posts.created_at}}</mark>
        </div>
        </div>
            </div>
  </body>
</html>
